/* Mobile (<600px) */
.announcement-ribbon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--spectrum-gray-50);
    border: 1px solid #d6d6d6;
    border-radius: 8px 8px 8px 8px; 
    padding: 16px ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .announcement-ribbon h1,h2,h3,h4,h5{
    margin-top: 12px;
    margin-bottom: 8px;
  }

  
  .ribbon-text-content {
    margin-bottom: 8px;
  }
  
  .ribbon-description {
    margin-top: 8px;
    font-size: 15px;
    line-height: 19px;
  }
  
  .ribbon-cta {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  .icon svg{
  height: 16px;
  width: 16px;
  
}
  .icon svg path{
  fill: #000000;
}
  .icon-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
  
  /* Tablet view (600px to 899px) */
  @media screen and (min-width: 600px) and (max-width: 899px) {
    .announcement-ribbon {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  
    .ribbon-cta {
      flex-direction: row;
      justify-content: flex-start;
      gap: 12px;
      width: auto;
    }
  
    .icon-close {
      top: 20px;
      right: 20px;
      
    }
  }
  
  /* Desktop view (>900px) */
  @media screen and (min-width: 900px) {
    .announcement-ribbon {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 16px 24px 16px 88px;
    }
  
    .ribbon-text-content {
      max-width: 60%;
    }
  
    .ribbon-cta {
      flex-direction: row;
      justify-content: flex-end;
      gap: 16px;
    }
  
    .icon-close {
      position: static;
      margin-left: 45px;
      margin-right: 12px;
      /*! height: 51px; */
    }
  }